/*=============== Varibles sass ===============*/
$header-height: 3rem;

/********** Font weight **********/
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

/********** Colors **********/
$body-color: #f4f4f6;
$first-color: #1d1d1f;
$second-color: #0071e3;
$white-color: #fff;
$border-color: gray;
$section-light: #f0f0f0;

/********** Z-index **********/
$z-index-above: 100;
$z-index-between: 50;
$z-index-under: -1;

/********** Font **********/
$body-font: "Roboto", sans-serif;

/********** Font Size **********/
$biggest-font-size: 3rem;
$bigger-font-size: 2rem;
$big-font-size: 1.25rem;
$medium-font-size: 1rem;
$normal-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

/********** Border **********/
$radius: 20px;
$radius-2: 10px;

/********** Transition **********/
$transition: all 0.3s;
